In [4]:
import pandas as pd

# Scenarios

In [5]:
c_nodes = pd.read_csv("TrainingData/CSVDataset/Scenarios/MEC10iiot10fog1controllers1wfpd1lenHIpw0hwComputingNodes.csv")
switches = pd.read_csv("TrainingData/CSVDataset/Scenarios/MEC10iiot10fog1controllers1wfpd1lenHIpw0hwSwitches.csv")
links = pd.read_csv("TrainingData/CSVDataset/Scenarios/MEC10iiot10fog1controllers1wfpd1lenHIpw0hwLinks.csv")
microservices = pd.read_csv("TrainingData/CSVDataset/Scenarios/MEC10iiot10fog1controllers1wfpd1lenHIpw0hwMicroservices.csv")
workflows = pd.read_csv("TrainingData/CSVDataset/Scenarios/MEC10iiot10fog1controllers1wfpd1lenHIpw0hwWorkflows.csv")

In [6]:
c_nodes

       id  power  memory
0   iiot0      1       1
1   iiot1      1       1
2   iiot2      1       1
3   iiot3      1       1
4   iiot4      1       1
5   iiot5      1       1
6   iiot6      1       1
7   iiot7      1       1
8   iiot8      1       1
9   iiot9      1       1
10     f0    800    1000
11     f1    800    1000
12     f2    800    1000
13     f3    800    1000
14     f4    800    1000
15     f5    800    1000
16     f6    800    1000
17     f7    800    1000
18     f8    800    1000
19     f9    800    1000

In [7]:
switches

   id
0  s0
1  s1
2  s2
3  s3
4  s4
5  s5
6  s6
7  s7
8  s8
9  s9

In [8]:
links

   source destination  latency  capacity
0   iiot0          s3    0.002      8000
1   iiot0          s7    0.002      8000
2   iiot0          s8    0.002      8000
3   iiot0          s5    0.002      8000
4   iiot0          s2    0.002      8000
5   iiot1          s9    0.002      8000
6   iiot1          s0    0.002      8000
7   iiot1          s2    0.002      8000
8   iiot1          s5    0.002      8000
9   iiot2          s9    0.002      8000
10  iiot2          s5    0.002      8000
11  iiot2          s7    0.002      8000
12  iiot2          s2    0.002      8000
13  iiot2          s0    0.002      8000
14  iiot3          s9    0.002      8000
15  iiot3          s6    0.002      8000
16  iiot3          s2    0.002      8000
17  iiot3          s8    0.002      8000
18  iiot4          s4    0.002      8000
19  iiot4          s2    0.002      8000
20  iiot4          s8    0.002      8000
21  iiot4          s6    0.002      8000
22  iiot4          s7    0.002      8000
23  iiot5          s3    0.002      8000
24  iiot5          s8    0.002      8000
25  iiot5          s4    0.002      8000
26  iiot5          s6    0.002      8000
27  iiot6          s6    0.002      8000
28  iiot6          s1    0.002      8000
29  iiot6          s5    0.002      8000
30  iiot6          s4    0.002      8000
31  iiot7          s0    0.002      8000
32  iiot7          s8    0.002      8000
33  iiot7          s7    0.002      8000
34  iiot7          s3    0.002      8000
35  iiot8          s9    0.002      8000
36  iiot8          s5    0.002      8000
37  iiot8          s6    0.002      8000
38  iiot8          s3    0.002      8000
39  iiot8          s1    0.002      8000
40  iiot9          s4    0.002      8000
41  iiot9          s1    0.002      8000
42  iiot9          s7    0.002      8000
43     s0          f0    0.002      8000
44     s1          f1    0.002      8000
45     s2          f2    0.002      8000
46     s3          f3    0.002      8000
47     s4          f4    0.002      8000
48     s5          f5    0.002      8000
49     s6          f6    0.002      8000
50     s7          f7    0.002      8000
51     s8          f8    0.002      8000
52     s9          f9    0.002      8000

In [9]:
microservices

   id  cycles  input  output  memory
0  sm    1000     80       2     100
1  md    1000     80       2     100
2  lg    1000     80       2     100
3  ss    1000     80       2     100
4  mm    1000     80       2     100
5  ll    1000     80       2     100

In [10]:
workflows

           id   chain starter  response
0  wfiiot0id0  ['lg']   iiot0      True
1  wfiiot1id0  ['md']   iiot1      True
2  wfiiot2id0  ['sm']   iiot2      True
3  wfiiot3id0  ['lg']   iiot3      True
4  wfiiot4id0  ['mm']   iiot4      True
5  wfiiot5id0  ['ss']   iiot5      True
6  wfiiot6id0  ['lg']   iiot6      True
7  wfiiot7id0  ['mm']   iiot7      True
8  wfiiot8id0  ['sm']   iiot8      True
9  wfiiot9id0  ['sm']   iiot9      True

# Results

In [11]:
host_ld = pd.read_csv("TrainingData/CSVDataset/Results/MEC10iiot10fog1controllers1wfpd1lenHIpw0hw_host_ld.csv")
lat = pd.read_csv("TrainingData/CSVDataset/Results/MEC10iiot10fog1controllers1wfpd1lenHIpw0hw_lat.csv")
lnk_ld = pd.read_csv("TrainingData/CSVDataset/Results/MEC10iiot10fog1controllers1wfpd1lenHIpw0hw_lnk_ld.csv")
resp_time = pd.read_csv("TrainingData/CSVDataset/Results/MEC10iiot10fog1controllers1wfpd1lenHIpw0hw_resp_time.csv")
tcam = pd.read_csv("TrainingData/CSVDataset/Results/MEC10iiot10fog1controllers1wfpd1lenHIpw0hw_tcam.csv")
time = pd.read_csv("TrainingData/CSVDataset/Results/MEC10iiot10fog1controllers1wfpd1lenHIpw0hw_time.csv")

In [12]:
resp_time

     Workflow  Response time
0  wfiiot0id0          1.278
1  wfiiot1id0          1.270
2  wfiiot2id0          1.270
3  wfiiot3id0          1.278
4  wfiiot4id0          1.278
5  wfiiot5id0          1.274
6  wfiiot6id0          1.270
7  wfiiot7id0          1.270
8  wfiiot8id0          1.270
9  wfiiot9id0          1.270

In [13]:
host_ld

     Link  Load (%)
0   iiot0       0.0
1   iiot1       0.0
2   iiot2       0.0
3   iiot3       0.0
4   iiot4       0.0
5   iiot5       0.0
6   iiot6       0.0
7   iiot7       0.0
8   iiot8       0.0
9   iiot9       0.0
10     f0      30.0
11     f1      30.0
12     f2      30.0
13     f3      10.0
14     f4       0.0
15     f5       0.0
16     f6       0.0
17     f7       0.0
18     f8       0.0
19     f9       0.0

In [14]:
lat

     Workflow  Latency
0  wfiiot0id0    0.028
1  wfiiot1id0    0.020
2  wfiiot2id0    0.020
3  wfiiot3id0    0.028
4  wfiiot4id0    0.028
5  wfiiot5id0    0.024
6  wfiiot6id0    0.020
7  wfiiot7id0    0.020
8  wfiiot8id0    0.020
9  wfiiot9id0    0.020

In [15]:
lnk_ld

           Link  Load (%)
0    l_iiot0_s3   0.00000
1    l_s3_iiot0   0.00034
2    l_iiot0_s7   0.00000
3    l_s7_iiot0   0.00034
4    l_iiot0_s8   0.00000
..          ...       ...
101     l_f7_s7   0.00000
102     l_s8_f8   0.00000
103     l_f8_s8   0.00000
104     l_s9_f9   0.00000
105     l_f9_s9   0.00000

[106 rows x 2 columns]

In [16]:
tcam

  Switch  Rules installed
0     s0                4
1     s1                4
2     s2                4
3     s3                2
4     s4                1
5     s5                0
6     s6                1
7     s7                1
8     s8                1
9     s9                1

In [17]:
time

                 Event   Time (s)
0        Scenario load   0.000318
1    Variable creation   0.531040
2  Constraint creation   1.646842
3   Objective creation   5.998595
4         Optimization   5.111171
5         Full process  13.287966